.section--contact {
    border-top: 1px solid oklab(43.7%, -20.25%, 4.5%);
    container-type: inline-size;

    label {
        margin-bottom: 1cqh;
        color: oklab(43.7%, -20.25%, 4.5%);
    }

    input[type="text"], input[type="email"], textarea {
        margin-bottom: 3cqh;
    }

    input, textarea, input[type="checkbox"] {
        border-radius: unset;
    }

    input:focus, textarea:focus {
        border-color: oklab(43.7%, -20.25%, 4.5%);
        box-shadow: 0 0 0 .5cqh oklab(43.7%, -20.25%, 4.5%);
    }

    .form-check-input:checked {
        background-color: oklab(43.7%, -20.25%, 4.5%);
        border-color: oklab(43.7%, -20.25%, 4.5%);
    }
}

@container (max-width: 428px) {
    .section--contact .form-control-lg {
        font-size: 1rem;
    }
}
