.section--team {
    border-top: 1px solid $primary;

    .team--content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        .team__card {
            width: 30%;
            border: 1px solid $primary;
            margin-bottom: 30px;
            border-radius: unset;
    
            .card-img-top {
                border-radius: unset;
            }
        }
    }
}