.section--team {
    border-top: 1px solid $primary;
    container-type: inline-size;

    .team--content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        .team__card {
            width: 30%;
            border: 1px solid $primary;
            margin-bottom: 30px;
            border-radius: unset;
    
            .card-img-top {
                border-radius: unset;
            }
        }
    }
}

@container (max-width: 991px) {
    .section--team .team--content {
        .team__card {
            width: 45%;
        }
    }
}

@container (max-width: 767px) {
    .section--team .team--content {
        .team__card {
            width: 100%;
        }
    }
}